*{
    font-family: "Josefine Sans", Calibri, Tahoma, sans-serif;
    overflow-x: hidden;
}

.pagecontent{
    margin: 20px;
    color: white;
    display: flex;
    justify-content: center;
    min-height: 80vh;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color:#232323;
    border-top: 1px solid black;
    height: 50px;
  }

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.typography{
    color: white;
}


.articleList {
    width: 90vw;
}

/*
.headerbutton:active{
    background-color: #303030;
    transition: 0s;
}
*/